apiVersion: config.openshift.io/v1
kind: ClusterOperator
metadata:
  name: kube-controller-manager
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    include.release.openshift.io/single-node-developer: "true"
spec: {}
status:
  versions:
    - name: operator
      version: "0.0.1-snapshot"
    - name: raw-internal
      version: "0.0.1-snapshot"
    - name: kube-controller-manager
      version: "0.0.1-snapshot-kubernetes"
  relatedObjects:
    - group: operator.openshift.io
      name: cluster
      resource: kubecontrollermanagers
    - group: ""
      name: openshift-config
      resource: namespaces
    - group: ""
      name: openshift-config-managed
      resource: namespaces
    - group: ""
      name: openshift-kube-controller-manager
      resource: namespaces
    - group: ""
      name: openshift-kube-controller-manager-operator
      resource: namespaces
    - group: ""
      resource: nodes
    - group: "certificates.k8s.io"
      resource: "certificatesigningrequests"
